{% extends 'index.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="card p-12">
                <div class="card-header">
                    <h3 class="card-title">Client Registration: </h3>
                </div>
                <form action="{% url "create_client" %}" method="post">
                    <div class="card-body">
                        {% if saved is False %}
                            <div class="alert alert-danger">An error occurred while saving the client.</div>
                        {% endif %}
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label" for="username">Username:</label>
                                <input type="text" id="username" name="username" class="form-control" value="{{ client.username }}"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="password">Password:</label>
                                <input type="password" id="password" name="password" class="form-control" value="{{ client.password }}"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="user_first_name">First Name:</label>
                                <input type="text" id="user_first_name" name="user_first_name" class="form-control" value="{{ client.first_name }}"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="user_last_name">Last Name:</label>
                                <input type="text" id="user_last_name" name="user_last_name" class="form-control" value="{{ client.last_name }}"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="email">Email:</label>
                                <input type="text" id="email" name="email" class="form-control" value="{{ client.email }}"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="address">Address:</label>
                                <input type="text" id="address" name="address" class="form-control" value="{{ client.address }}"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="contact">Contact:</label>
                                <input type="text" id="contact" name="contact" class="form-control" value="{{ client.contact }}"/>
                            </div>
                            </div>
                        <div class="card-footer">
                            <a class="card-link" href="{% url "home_customer" %}">Back</a>
                            &nbsp;
                            <button class="btn btn-success" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}











{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#</html>#}