<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financials</title>
    <link rel="stylesheet" href="bootstrap-4.6.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <a class="navbar-brand" href="#"><h1>Company Name</h1></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Features
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Save</a>
                        <a class="dropdown-item" href="#">Loan</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Credit</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Company
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">About Us</a>
                        <a class="dropdown-item" href="#">Contact Us</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Our Loction</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Developers</a>
                </li>
            
            </ul>
              
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="btn btn-outline-dark" href="#" id='bro'>Sign In</a>
                </nav>
            </div>
            <a class="btn btn-outline-dark" href="#">Get App</a>
        </div>
    </nav>

    <div class="container">
        <div class="row mt-lg-5">
            <div class="col-6 ">
                <div class="row">

                    <p class="home-text text-center">We are the Best Bank in Nigeria</p>
                    <p class="text-center">We'er here to help you get the best out of your money, no string attached.          Welcome to Your freedom!</p>
                    <div class="col-md-6">
                        <a href="#"><img class="img-size" src="images/apple.png"></a>
                    </div>
                        
                    <div class="col-md-6">
                        <a href="#"><img class="img-size" src="images/google.jpg"></a>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <img class="home-image" src="images/bankImages.jpg">
            </div>
        </div>
    </div>
    <script src="JQuery/jquery.js"></script>
    <script src="bootstrap-4.6.0-dist/js/bootstrap.bundle.js"></script>
</body>
</html>